/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dec-2015, 17:18:07
    Author     : Elina Wever [e.e.wever@st.hanze.nl]
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dec-2015, 17:18:07
    Author     : Elina Wever [e.e.wever@st.hanze.nl]
*/

body

{ 
    background-color:#A8A8A8;
    text-align: center;
}

h2 {
    color: white;
    text-shadow: 2px 2px 5px black;
}

#error {
    color: white;
    background-color: salmon;
    box-shadow: 5px 5px 10px black;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

}
.footer {
    color: white;
    top: 20px;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    left : 555px
}

.position {
    float: left;
    width: 12%;
}

#button {
    color: black;
    text-shadow : 2px 2px 5px grey;
    box-shadow : 2px 2px 8px pink;
    border: 2px outset plum;
}

#form {
    color: white;
    text-shadow: 2px 2px 5px black;


}
#banner{
    height: 250px;
    width: 100%;
    border: 2px solid blue ;
    box-shadow: 5px 2px 5px;
}

p{
    color: white;
    text-shadow: 2px 2px 5px black;
}

h3{
    color: white;
    text-shadow: 2px 2px 2px black;
}

table ,th,td {
    border: solid;
    border-collapse: collapse;
    color: white;
    text-shadow: 2px 2px 5px black;
    background: lightblue;
    font-family: Helvetica;
}

th, td {
    padding: 20px;

}

table.center {
    margin-left: auto;
    margin-right: auto;
}
th {
    background-color: lavender;
}

#container
{ 
    margin-top:20px; 
    margin-left:auto;
    margin-right:auto;
    width:1246px;
    background-position:center;
    background-attachment:fixed;
    background-color:  cadetblue;
    padding-bottom:150px;
    border-style: outset;
    border-width:4px;
    border-color:blueviolet;
    box-shadow: 3px 7px 10px 4px black;
    z-index:-1; 
}

#enzymeOptions {
    color: white;
    text-shadow: 2px 2px 5px black;
}

